<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :dni %><br>
    <%= f.number_field :dni %>
  </div>
  <div class="field">
    <%= f.label :fecha_alta %><br>
    <%= f.date_select :fecha_alta %>
  </div>
  <div class="field">
    <%= f.label :direccion %><br>
    <%= f.text_field :direccion %>
  </div>
  <div class="field">
    <%= f.label :tel %><br>
    <%= f.text_field :tel %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :fecha_nac %><br>
    <%= f.date_select :fecha_nac, start_year: 1900 %>
  </div>

  <div class="field">
    <%= f.label :es_admin %><br>
    <%= f.check_box :es_admin %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
