<div class="row">
  <div class="small-6 small-centered columns">
    <h2>Registrarse</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

    <div><%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, placeholder: 'email@ejemplo.com'%>
    </div>

    <div class="field">
      <%= f.label :nombre %><br>
      <%= f.text_field :nombre %>
    </div>
    <div class="field">
      <%= f.label :dni %><br>
      <%= f.number_field :dni %>
    </div>

    <div class="field">
      <%= f.label :dirección %><br>
      <%= f.text_field :direccion %>
    </div>

    <div class="field">
      <%= f.label :teléfono %><br>
      <%= f.text_field :tel %>
      
        <sup><i>(Código de área + N° Ej: 01142122345)</i></sup>
      
    </div>

    <div class="field">
      <%= f.label "Fecha de nacimiento" %><br>
      <%= f.date_select :fecha_nac, start_year: 1900, end_year: 1996 %>
    </div>

    <div><%= f.label :contraseña %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div><%= f.label "Confirmar contraseña" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div><%= f.submit "Registrarse", class: 'small button radius success' %>
    <%= link_to "Cancelar", root_path, class: 'small alert button right' %>
    </div>
  <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
