<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @purchase.fecha %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @purchase.estado %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
