<%= form_for(@tag) do |f| %>
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% @tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-12 column">
      <div class="field">
        <%= f.label :nombre %>
        <%= f.text_field :nombre %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-4 column">
      <div class="actions">
        <%= f.submit 'Guardar', class: 'button small alert' %>
      </div>
    </div>
<% end %>