<div class="row">
  <div class="small-6 small-centered columns">
    <h1>Listado de categorias</h1>

    <table style="width: 400px;">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Mostrar</th>
          <th>Editar</th>
          <th>Borrar</th>
        </tr>
      </thead>

      <tbody>
      <% @tags.each do |tag| %>
        <tr>
        <td><%= tag.nombre %></td>
        <td><%= link_to 'Mostrar', tag %></td>
        <td><%= link_to 'Editar', edit_tag_path(tag) %></td>
        <td><%= link_to 'Borrar', tag, method: :delete, data: { confirm: '¿Seguro que querés borrarlo?' } %></td>
      </tr>
    <% end %>
      </tbody>
    </table>

    <%= link_to 'Nueva categoría', new_tag_path, class: 'small button' %>
    <%= link_to 'Volver', administracion_path, class: 'small button' %>
  </div>
</div>
