<div class="row">
  <div class="small-9 small-centered columns">
    <h1>Listando categorias</h1>

    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
      <% @tags.each do |tag| %>
        <tr>
        <td><%= tag.nombre %></td>
        <td><%= link_to 'Show', tag %></td>
        <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
        <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Nueva categoría', new_tag_path %>
    <%= link_to 'Volver', administracion_path %>
  </div>
</div>
