<%= form_for(@editorial) do |f| %>
  <% if @editorial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@editorial.errors.count, "error") %> prohibieron que esta editorial se guardara:</h2>

      <ul>
        <% @editorial.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-12 column">
      <div class="field">
        <%= f.label :nombre %><br>
        <%= f.text_field :nombre %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 column">
      <div class="field">
        <%= f.label :direccion %><br>
        <%= f.text_field :direccion %>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="large-4 column">
      <div class="actions">
        <%= f.submit 'Guardar', class: 'small button radius success' %>
      </div>
    </div>
  <% end %>

