<div class="row">
  <div class="small-6 small-centered columns">
    <h1>Listado de editoriales</h1>

    <table style="width: 500px;">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Dirección</th>
          <th>Mostrar</th>
          <th>Editar</th>
          <th>Borrar</th>
        </tr>
      </thead>

      <tbody>
      <% @editorials.each do |editorial| %>
        <tr>
        <td><%= editorial.nombre %></td>
        <td><%= editorial.direccion %></td>
        <td><%= link_to 'Mostrar', editorial %></td>
        <td><%= link_to 'Editar', edit_editorial_path(editorial) %></td>
        <td><%= link_to 'Borrar', editorial, method: :delete, data: { confirm: '¿Seguro que querés borrarlo?' } %></td>
      </tr>
    <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Nueva Editorial', new_editorial_path, class: 'small button' %>
    <%= link_to 'Volver', administracion_path, class: 'small button' %>
  </div>
</div>
