<div class="row">
  <div class="small-7 small-centered columns">
    <h1> ~ Panel de administración ~ </h1>
  </div>
</div>
<div class="row">
  <div class="small-7 small-centered columns">
    <center>
      <ul class="button-group even-3 radius ">
        <%= link_to 'Autores', authors_path, class: "small button" %>
        <%= link_to 'Editoriales', editorials_path, class: "small button" %>
        <%= link_to 'Categorías', tags_path, class: "small button" %>
      </ul>
    <ul>
      <%= link_to 'Libros deshabilitados', deshabilitados_books_path, class: "small button" %> 
      <%= link_to 'Libros mas comprados', mas_comprados_purchases_path, class: "small button" %>
      <%= link_to 'Pedidos de libros', purchases_path, class: 'small button' %>
    </ul>
    </center>
  </div>
</div>
<div class="row">
  <div class="small-6 small-centered columns">
  </div>
</div>
