<div class="row">
  <div class="large-12 columns text-center">
      <h1>Listado de libros</h1>
  </div>
</div>
<% if flash[:alert] || flash[:error] %>
  <div class="row">
   <div class="alert-box alert small-4 small-centered columns" data-alert>
     <%= flash[:alert] || flash[:error] || @error %>
     <a href="#" class="close">&times;</a>
   </div>
  </div>
<% end %>
<div class="row">
  <div class="small-9 small-centered columns">
    <table>
      <thead>
        <tr>
          <th>ISBN</th>
          <th>Autor</th>
          <th>Título</th>
          <th>Páginas</th>
          <th>Fecha publicación</th>
          <th>Precio</th>
          <th>Mostrar</th>
          <th>Editar</th>
          <th>Borrar</th>
        </tr>
      </thead>

      <tbody>
        <% @books.each do |book| %>
          <tr>
            <td><%= book.isbn %></td>
            <td><%= book.author.nombre %></td>
            <td><%= book.titulo %></td>
            <td><%= book.paginas %></td>
            <td><%= book.ano_publicacion %></td>
            <td>$<%= book.precio %></td>
            <td><%= link_to 'Ver', book %></td>
            <% if current_user.es_admin? %>
              <td><%= link_to 'Editar', edit_book_path(book) %></td>
              <td><%= link_to 'Borrar', book, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="12-large column text-center">
    <% if current_user %>
      <%= link_to 'Nuevo libro', new_book_path, class: "button tiny radius success" %>
    <% end %>
  </div>
</div>
