<div class="row">
  <div class="small-6 small-centered columns">
    <h1> Detalles del libro </h1>
  </div>
</div>
<div class="row">
  <div class="small-6 small-centered columns detalles-libro">
    <p id="notice"><%= notice %></p>


    <p>
    <strong>Isbn:</strong>
    <%= @book.isbn %>
    </p>

    <p>
    <strong>Titulo:</strong>
    <%= @book.titulo %>
    </p>

    <p>
    <strong>Paginas:</strong>
    <%= @book.paginas %>
    </p>

    <p>
    <strong>Precio:</strong>
    $<%= @book.precio %>
    </p>

    <p>
    <strong>Año de publicacion:</strong>
    <%= @book.ano_publicacion %>
    </p>

    <p>
    <strong>Autor:</strong>
    <%= @book.author.nombre %>
    </p>
    
    <p>
    <strong>Categorías:</strong>
    <%= "---" if @book.tags.empty? %>
    <% @book.tags.each do |t| %>
      <%= t.nombre %><%= "," unless t.equal? @book.tags.last %>
    <% end %>
    </p>
    
    <p>
    <strong>Editorial:</strong>
    <%= @book.editorial.nombre %>
    </p>

    <p>
    <strong>Descripción del libro:</strong>
    <%= @book.descripcion %>
    </p>

    <hr>
    <div class="row">
      <% if current_user %>
        <% if current_user.es_admin? %>
          <div class="large-4 column">
            <%= link_to 'Editar', edit_book_path(@book), class: 'button tiny' %>
          </div>
        <% else %>
            <%= button_to 'Agregar al carro!', cart_books_path(book_id: @book), class: 'small button radius success right' %>
        <% end %>
      <% end %>
      <div class="large-4 column">
        <%= link_to 'Volver al listado', books_path, class: 'button tiny' %>
      </div>
    </div>
  </div>
</div>
