<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>CookBooks: Venta de libros de Cocina</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  
  <div id="imagen_logo">
   <%= image_tag "logo2.png", :alt => "Logo", :title => ""%>
  </div>

  <body>
  <div class="row fullWidth">
    <div id="principales">
      <p class="navbar-text pull-right">
      <% if user_signed_in? %>
        Identificado como: <strong><%= current_user.email %></strong>.
        <%#= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Salir", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> |
        <%#= link_to 'Carro de compras', cart_path(current_user)%>
		
		
        <% if current_user.es_admin? %>
          <%= link_to "Administracion", administracion_path %>
        <% end %>
      <% else %>
        <%= link_to "Registrarse", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Identificarse", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </div>
  </div>
   
  </div>
    <div class="row">
      <div class="large-4 large-centered columns">
        <ul class="button-group even-3 radius">
          <%= link_to 'Catálogo de libros', books_path, class: "small button" %>
          <%#= link_to 'Contacto', contacto_path, class: "small  button" %>
        </ul>
      </div>
    </div>
  <div class="row large-centered">
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </div>
  
    </body>
</html>
