<div class="row">
  <h1>Listado de autores</h1>
</div>

<div class="row">
  <% if @authors.any? %>
    <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Detalles</th>
        <%# if_admin %>
        <th>Editar</th>
        <th>Borrar</th>
      </tr>
    </thead>

    <tbody>
      <% @authors.each do |author| %>
        <tr>
        <td><%= author.nombre %></td>
        <td><%= link_to 'Mostrar', author %></td>
        <td><%= link_to 'Editar', edit_author_path(author) %></td>
        <td><%= link_to 'Borrar', author, method: :delete, data: { confirm: '¿Seguro que querés borrarlo?' } %></td>
      </tr>
      <% end %>
    </tbody>
    </table>
  <% end %>
  <br>

  <%= link_to 'Nuevo autor', new_author_path, class: 'small button' %>
  <%= link_to 'Administración', administracion_path, class: 'small button' %> 
</div>
